<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th class="mh-datagrid-checkbox-header">
					<input type="checkbox" class="mh-datagrid-header-checkbox">
				</th>
				<th class="mh-datagrid-data-header">
					<mh-datagrid-custom-content name="email">
						<div class="mh-datagrid-label" style="color:#FF0000" ng-click="controller.log()"></div>
					</mh-datagrid-custom-content>
					<mh-datagrid-custom-content name="id">
						<div class="mh-datagrid-label" style="color:#FFFF00" ng-click="controller.log()"></div>
					</mh-datagrid-custom-content>
				</th>
				<th class="mh-datagrid-btns-header">acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr class="mh-datagrid-row">
				<td class="mh-datagrid-checkbox-cell">
					<input type="checkbox" class="mh-datagrid-row-checkbox">
				</td>
				<td class="mh-datagrid-data-cell">
					<mh-datagrid-custom-content name="id">
						<div class="mh-datagrid-value-expression" style="color:#FFFF00" ng-click="controller.log()"></div>
					</mh-datagrid-custom-content>
					<mh-datagrid-custom-content name="image">
						<img class="mh-datagrid-value-expression" style="color:#FFFF00" ng-click="controller.log()">
					</mh-datagrid-custom-content>
				</td>
				<td class="mh-datagrid-row-btns-cell">
					<a class="mh-datagrid-row-btn" name="edit">edit</a>
					<a class="mh-datagrid-row-btn" name="delete">delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>