<mh-navbar mh-navbar-theme-bs mh-navbar-title="title" mh-navbar-buttons="menuButtons" mh-navbar-buttons-right="menuRightButtons" mh-navbar-position="fixed-top" mh-navbar-inverse>
</mh-navbar>
<button ng-click="updateCollection()">boton</button>

translude:
{{user}}
<!-- <mh-form ng-model="user" mh-configs="config">
	<form name="testForm">
		<div class="input-container user_name" ng-class="{'has-error':true}">
			<input name="user_name" required>
			<input name="mail">
			<div class="question">????</div>
			<md-checkbox aria-label="No Ink Effects" ng-model="asd">
			  {{5+5}}
			</md-checkbox>
			<div class="mh-form-error-message" name="user_name">mensaje de error</div>
		</div>
	</form>
</mh-form> -->
<style>
.is-invalid{
	border-color: #FF0000;
}
</style>
<mh-paginator mh-paginator-theme-bs 
mh-page-group-size="3" 
mh-current-page="2" 
mh-last-page="10"
mh-on-page-selected="pageSelected"
>
</mh-paginator>

<nav aria-label="Page navigation">
							<ul class="pagination">
								<li ng-class="{'disabled' : section.pageGroup === 0}">
									<a href="#" aria-label="Previous" ng-click="!isLoading  && section.pageGroup !== 0 && search(section.group_init_page)">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li ng-repeat="page in section.pages" ng-class="{'active' : page == section.current_page}">
									<a href="#" ng-click="!isLoading && page != section.current_page && search(page)">{{page}}</a>
								</li>
								<li ng-class="{'disabled' : section.pageGroup === section.lastGroup}">
									<a href="#" aria-label="Next" ng-click="!isLoading && section.pageGroup !== section.lastGroup && search(section.group_last_page)">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>


<div><span><span>asd</span>asd</span></div>

<div class="container">
	<mh-form mh-form-theme-bs mh-form-name="'testForm'" ng-model="user" mh-form-elements="formElements" mh-form-element-containers="containers" mh-on-form-init="onFormInit">
	</mh-form>
</div>


<mh-datagrid 
mh-cells-config = "cellsConfig"
mh-row-buttons = "rowButtons",
mh-enable-row-buttons = "true",
mh-collection = "collection"
mh-select-all-change="selectAllEvent(selectedRows)" 
mh-select-row-change="selectRowEvent(row)" 
mh-template-url="modules/home/grid-template.html">
</mh-datagrid>

<md-checkbox aria-label="No Ink Effects" ng-model="asd" ng-change="editClick()">
					  No Ink Effects
					</md-checkbox>


