<div style="margin-top:60px"></div>
<mh-navbar mh-navbar-theme-bs mh-navbar-title="title" mh-navbar-elements="menuButtons" mh-navbar-elements-right="menuRightButtons" mh-navbar-position="fixed-top">
</mh-navbar>
<button ui-sref="eee">boton</button>

translude:
{{user}}
<!-- <mh-form ng-model="user" mh-configs="config">
	<form name="testForm">
		<div class="input-container user_name" ng-class="{'has-error':true}">
			<input name="user_name" required>
			<input name="mail">
			<div class="question">????</div>
			<md-checkbox aria-label="No Ink Effects" ng-model="asd">
			  {{5+5}}
			</md-checkbox>
			<div class="mh-form-error-message" name="user_name">mensaje de error</div>
		</div>
	</form>
</mh-form> -->
<style>
.is-invalid{
	border-color: #FF0000;
}
</style>
<section>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
       
          <input type="text" class="form-control" placeholder="Search">
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
	<mh-bs-panel mh-header-title="'Ganado'">
		<mh-form mh-form-theme-bs mh-form-name="'testForm'" ng-model="user" mh-form-layout="formLayout" mh-on-form-init="onFormInit">
		</mh-form>
	</mh-bs-panel>
	<mh-bs-panel mh-header-title="'Ganado'">
		<mh-datagrid mh-datagrid-theme-bs
			mh-cols = "datagridCols"
			mh-row-buttons = "rowButtons",
			mh-enable-row-buttons = "true",
			mh-collection = "collection"
			mh-select-all-change="selectAllEvent(selectedRows)" 
			mh-select-row-change="selectRowEvent(row)">
		</mh-datagrid>
		<div class="text-center">
			<mh-paginator mh-paginator-theme-bs 
			mh-page-group-size="3" 
			mh-current-page="2" 
			mh-last-page="10"
			mh-on-page-selected="pageSelected"
			>
			</mh-paginator>
		</div>
	</mh-bs-panel>
</div>
