md-autocomplete.form-control
{
	padding:0px;
}

.md-whiteframe-1dp, .md-whiteframe-z1 
{
    box-shadow: none;
}

md-autocomplete md-autocomplete-wrap {
    height: inherit;
}

md-autocomplete input:not(.md-input) {
    height: inherit;
}

.mh-bs-dropfile{
	background: #F8F8F8;
    border: 5px dashed #DDD;
    padding: 10px;
    width:100%; 
    height:100%; 
    display:inline-block;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}